@import "tailwindcss";

/* Breakpoints customizados */
@theme {
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  --color-primary: #E11138;
  --color-primary-hover: #e23b59;
  --background-primary: #F3F5F8;
}

/* Classes globais ============================== */
@layer base {
  
  body{
    font-family: var(--font-secondary);
    @apply
    bg-(--background-primary)
    text-zinc-600 
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-primary); 
    @apply 
    font-bold
    text-zinc-800
    mb-3
  }

  h1{
    @apply text-4xl
  }

  h2{
    @apply text-3xl
  }

  h3{
    @apply text-2xl
  }


  /* Transicao suave em todos os links do site */
  a,
  button,
  input[type="submit"] {
    @apply 
    transition-all duration-300
    cursor-pointer
  }

  input[type="text"]{
    @apply
    w-full 
    p-2 
    border border-zinc-300 outline-zinc-400

    rounded-lg 
    bg-white
  }

  input[type="checkbox"]{
    @apply 
    w-5 
    h-5 
    rounded 
    
    accent-indigo-400
  }
}

/* Componentes de UI ============================== */
@layer components {
  /* Padrão dos Botoes */
  .btn{
    @apply 
    px-4 py-2 
    inline-block 
    rounded-lg 

    text-center text-sm
    text-gray-600
    border border-zinc-300
    hover:scale-105 hover:shadow-sm
    cursor-pointer;
  }

  .btn-cancel{
    @apply
    px-2 py-1 
    rounded-full 
    border border-zinc-300 hover:border-red-300 
    text-zinc-400 hover:text-red-400 
    text-xs 
    font-bold
  }

  .card{
    @apply 
    rounded-lg 
    p-3

    bg-white 
    border 
    border-zinc-200
  }

  .task-list__item{
    @apply

    flex 
    flex-col 
    
    md:flex-row 
    md:items-center 
    md:justify-between 
    gap-3

    px-3 py-7 md:py-2 
    border-b border-zinc-200 last:border-b-0
  }

  .task-list__actions{
    @apply
    flex 
    items-center 
    gap-3

    mt-4 md:mt-0
  }
}

/* Classes customizados pontuais ================== */
@layer utilities {
  /* Container com largura padrao */
  .container { 
    @apply max-w-4xl mx-auto px-4;
  }

}
